.g-actions-button {
    width: 100%;
    padding: 8px 16px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    border-radius: 3px;
    color: #3e4051;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
  }
  .g-actions-button i {
    margin: 0;
    width: 100%;
  }
  .g-actions-button .right-4 {
    margin-right: 4px;
  }
  .g-actions-button .left-4 {
    margin-left: 4px;
  }
  .g-actions-button-default {
    background: linear-gradient(to bottom, #fff, #f5f6f9);
    border: 1px solid #edeff5;
  }
  .g-actions-button-default:hover {
    background: linear-gradient(to bottom, #fff, #efeff6);
    box-shadow: 0 0 1px rgba(214, 217, 225, 0.32);
  }
  .g-actions-button-pager {
    background-color: #fff;
    border: 1px solid #edeff5;
  }
  .g-actions-button-pager:hover {
    color: #3E4051;
  }
  .g-forms-input {
    display: flex;
    align-items: center;
  }
  .g-forms-input-search-bar {
    width: 100%;
    padding: 8px 16px;
    font-size: 13px;
    border: 1px solid #EDEFF5;
    border-radius: 3px;
  }
  .g-forms-input-search-bar:focus {
    border: 1px solid #4273D5;
    transition: 0.35s ease;
    color: #3E4051;
  }
  .g-forms-input-search-bar:focus::-webkit-input-placeholder {
    transition: opacity 0.45s ease;
    opacity: 0;
  }
  .g-forms-input-search-bar:focus::-moz-placeholder {
    transition: opacity 0.45s ease;
    opacity: 0;
  }
  .g-forms-input-search-bar:focus:-ms-placeholder {
    transition: opacity 0.45s ease;
    opacity: 0;
  }
  .g-forms-input-search-bar-icon {
    position: relative;
    right: 32px;
    color: #3E4051;
    font-size: 13px;
  }
  .g-table-body {
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #edeff5;
    padding: 16px;
  }
  .g-table-actions {
    padding: 16px;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  .g-table-actions .g-actions-button {
    margin-right: 8px;
  }
  .g-table-actions-col {
    display: flex;
    justify-content: flex-start;
  }
  .g-header {
    font-family: Montserrat;
    color: #3e4051;
    text-align: left;
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    margin: 24px 0;
  }
  .g-header .page-title {
    font-size: 24px;
  }
  .g-header .sub-title {
    font-size: 16px;
  }
  .g-header-value {
    margin-right: 16px;
  }
  .g-table-list {
    table-layout: fixed;
    width: 100%;
    white-space: nowrap;
  }
  .g-table-list thead tr {
    background-color: #edeff5;
    width: 100%;
    text-align: left;
  }
  .g-table-list tr {
    vertical-align: baseline;
  }
  .g-table-list td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid #EDEFF5;
  }
  .g-table-list th,
  td {
    font-size: 14px;
    color: #3E4051;
    padding: 16px 8px;
  }
  .g-table-list td:first-child {
    padding-left: 24px;
    width: 32px;
  }
  .g-table-list td:last-child {
    padding-right: 24px;
    text-align: right;
  }
  .g-table-list th:last-child {
    padding-right: 24px;
    text-align: right;
  }
  .g-table-list-date {
    text-align: right;
    padding-right: 24px;
  }
  .g-table-list-col-title {
    font-size: 13px;
    font-weight: 500;
    color: #474E5D;
  }
  .g-table-list-col-small-copy {
    font-size: 11px;
    color: #3E4051;
  }
  .g-table-list-col-edit {
    width: 6%;
  }
  .g-table-list-col-sku {
    width: 14%;
  }
  .g-table-list-col-listing {
    width: 40%;
  }
  .g-table-list-col-desc {
    width: 16%;
  }
  .g-table-list-col-money {
    width: 8%;
  }
  .g-table-list-col-date {
    width: 16%;
  }
  @media screen and (max-width: 1080px) and (min-width: 980px) {
    .g-table-list-rwd {
      display: none;
    }
  }
  @media screen and (max-width: 980px) and (min-width: 600px) {
    .g-table-list-rwd {
      display: none;
    }
  }
  @media screen and (max-width: 600px) and (min-width: 300px) {
    .g-table-list-rwd {
      display: none;
    }
  }
  .g-table-list-rwd {
    padding-right: 16px;
  }
  .g-table-list-pagination {
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
  }
  .g-table-list-pagination-col {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .g-table-list-pager {
    margin-left: 8px;
  }
  .g-table-list-pagination-current {
    width: 32px;
    text-align: center;
    font-size: 14px;
    border: 1px solid #EDEFF5;
    border-radius: 3px;
    padding: 8px 12px;
    margin: 0 8px;
  }
  